.note-page-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto !important;
    justify-content: center;
    scrollbar-gutter: stable;
}

.note-page-container {
    width: 100%;
    max-width: var(--note-editor-max-width);
    margin-top: var(--note-editor-margin-top);
}