.block-wrapper {
    position: relative;
    width: 100%;
}

.drop-top::before,
.drop-bottom::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: #4c9ffe;
    pointer-events: none;
}

.drop-top::before {
    top: 0;
}

.drop-bottom::after {
    bottom: 0;
}

.extra-hover-zone {
    position: absolute;
    left: -150px;
    width: 150px;
    height: 100%;
}

.block-wrapper:hover .drag-icon {
    opacity: 1;
    visibility: visible;
}

.drag-icon {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -30px;
    top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 20px;
    border-radius: 6px;
    cursor: grab;
    transition: background-color 0.18s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.drag-icon.hidden {
    opacity: 0;
}

.drag-icon:hover {
    background-color: #d8d8d7;
}
