.title-bar {
    background-color: var(--titlebar-bg);
    width: 100%;
    height: var(--titlebar-height);
    border-bottom: 1px solid var(--titlebar-border);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    -webkit-user-select: none;
    z-index: 999;
}

.title-bar [data-tauri-drag-region] {
    flex: 1;
    height: 100%;
    -webkit-app-region: drag;
}

.controls {
    display: flex;
    height: 100%;
}

.window-btn {
    height: var(--titlebar-height);
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: default;
    outline: none;
    border: none;
    background-color: transparent;
    transition: background-color 0.18s cubic-bezier(0.4, 0, 0.2, 1);
}

.window-btn:hover {
    background-color: var(--window-btn-bg-hover);
}

.window-btn.close {
    transition: background-color  0.18s cubic-bezier(0.4, 0, 0.2, 1), color 0.18s cubic-bezier(0.4, 0, 0.2, 1);
}

.window-btn.close:hover {
    background-color: var(--window-btn-close-bg-hover);
    color: #FFFFFF;
}

.branding {
    gap: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-inline: 12px;
}

.application-name {
    font-family: var(--font-regular);
    font-size: var(--font-size-base);
}

.btn {
    border: none;
    outline: none;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--btn-border-radius);
    background-color: transparent;
    cursor: pointer;
    color: var(--icon-primary);
    transition: background-color 0.18s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    background-color: var(--btn-bg-hover);
}