* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* FONT FAMILY */;
    --font-light: 'Manrope Light', sans-serif;
    --font-regular: 'Manrope Regular', sans-serif;
    --font-medium: 'Manrope Medium', sans-serif;
    --font-semibold: 'Manrope SemiBold', sans-serif;
    --font-bold: 'Manrope Bold', sans-serif;

    /* LIGHT MODE */
    --background: #EAEAEA;
    --code-block: #F5F5F5;
    --editor-bg: #FFFFFF;
    --border: #D0D0D0;
    --text-secondary: #6D6D6D;
    --text-foreground: #3D3D3D;
    --accent: #39DD50;

    /* TITLE BAR */
    --titlebar-bg: #F8F8F7;
    --titlebar-height: 35px;
    --btn-bg: #F5F5F5;
    --btn-bg-hover: #D8D8D7;
    --btn-close-bg-hover: #E81123;
}


[data-theme="dark"] {
    /* DARK MODE */
    --background: #1E1E1E;
    --code-block: #252525;
    --editor-bg: #2A2A2A;
    --border: #333333;
    --text-secondary: #AAAAAA;
    --text-foreground: #E5E5E5;
    --accent: #39DD50;
}