.app-shell {
    margin-top: var(--titlebar-height);
    height: calc(100vh - var(--titlebar-height));
    display: flex;
}

.main-container {
    width: 100%;
    height: 100%;
}

.main-container.sidebar-active {
    margin-left: var(--sidebar-width);
}