.sidebar-container {
    position: relative;
    display: flex;
}

.sidebar {
    background-color: var(--sidebar-bg);
    width: var(--sidebar-width);
    min-width: var(--sidebar-min-width);
    max-width: var(--sidebar-max-width);
    flex-shrink: 0;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid var(--sidebar-border);
}

.sidebar-container.closed {
    display: none;
}

.sidebar-container.open {
    display: flex;
}

.sidebar-resizer-wrapper {
    position: absolute;
    top: 0;
    right: -11px;
    bottom: 0;
    width: 12px;
    height: 100%;
    cursor: ew-resize;
    display: flex;
    justify-content: flex-start;
    z-index: 10;
}

.sidebar-resizer {
    width: 2px;
    height: 100%;
    background-color: transparent;
}

.sidebar-resizer-wrapper:hover .sidebar-resizer {
    background-color: var(--sidebar-resizer-border-hover);
}
